.total1 {
  display: flex;
  width: 100%;
  height: auto;
}
.aside3 {
  width: 30%;
  height: auto;

  box-shadow: 3px 0px 30px 0px #a9a7a7;
  padding: 20px;
  margin: 5px;
}
.aside4 {
  width: 70%;

  display: block;
  height: auto;
}
